<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_Ballot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateRegistration</display-name>
    <servlet-name>CandidateRegistration</servlet-name>
    <servlet-class>com.mubeen.Online_Ballot.servlets.CandidateRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegistration</servlet-name>
    <url-pattern>/CandidateRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.mubeen.Online_Ballot.servlets.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySymbolServlet</display-name>
    <servlet-name>DisplaySymbolServlet</servlet-name>
    <servlet-class>com.mubeen.Online_Ballot.servlets.DisplaySymbolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySymbolServlet</servlet-name>
    <url-pattern>/DisplaySymbolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voter_reg_status</display-name>
    <servlet-name>voter_reg_status</servlet-name>
    <servlet-class>com.mubeen.Online_Ballot.servlets.voter_reg_status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voter_reg_status</servlet-name>
    <url-pattern>/voter_reg_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingServlet</display-name>
    <servlet-name>VotingServlet</servlet-name>
    <servlet-class>com.mubeen.Online_Ballot.servlets.VotingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingServlet</servlet-name>
    <url-pattern>/VotingServlet</url-pattern>
  </servlet-mapping>
</web-app>